<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                    <img class="one-third order-md-last img-fluid" src="@Url.Content("~/Assets/Images/Background/1.6.png")" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">

                            <div class="horizontal">
                                <h1 class="mb-4 mt-3"><strong>Tết Thiếu Nhi Sale Mê Ly</strong></h1>
                                <p class="mb-4">
                                    TẾT THIẾU NHI SALE MÊ LY GIẢM ĐẾN 50%++
                                    <br /> Nhiều sản phẩm giá hấp dẫn như điện thoại
                                    </br>laptop, máy tính bảng, phụ kiện, đồng hồ,... <br />Mua Ngay!!
                                </p>

                                <p><a href="@Url.Action("Index", "Shop")" class="btn-custom">Khám phá ngay</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                    <img class="one-third order-md-last img-fluid" src="@Url.Content("~/Assets/Images/Background/backtoschooll.png")" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">

                            <div class="horizontal">
                                <h1 class="mb-4 mt-3"><strong>Back To School</strong></h1>
                                <p class="mb-4">ĐÓN MÙA TỰU TRƯỜNG GIÁ SỐC KHÔNG TƯỞNG.</p>

                                <p><a href="@Url.Action("Index", "Shop")" class="btn-custom">Khám phá ngay</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
